{% extends 'bleep/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <h1 class="page-header">User detail view</h1>
            <p>{{ object.username }}</p>
            <p>Followers: {{ object.followed_by.count }}</p>
            <p><a class="btn btn-link" href="{% url 'profiles:follow' username=object.username %}">Follow</a></p>

            <h1 class="page-header">Following</h1>
            {% for user in object.profile.following.all %}
                <p><a href="/profiles/{{ user.username }}">{{ user.username }}</a></p>
                {% empty %}
                <p>Not following any user.</p>
            {% endfor %}

            <h1 class="page-header">Followed by</h1>
            {% for profile in object.followed_by.all %}
                <p><a href="/profiles/{{ profile.user.username }}">{{ profile.user.username }}</a></p>
                {% empty %}
                <p>Not followed by any user.</p>
            {% endfor %}

        </div>
        <div class="col-xs-6">
            <h1 class="page-header">Bleeps</h1>
            {% for bleep in object.bleep_set.all %}
                {% include 'bleep/bleep.html' with bleep=bleep %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
