{% extends 'bleep/base.html' %}

{% block content %}

{% if not request.GET.q %}
<div class="row">
    <div class="col-xs-6">
        <h1 class="page-header">Bleep form</h1>
        {% include 'bleep/form.html' with form=create_form btn_value='Bleep' action_url=create_url form_id='bleep-create-form' %}
    </div>
</div>
{% endif %}

<div class="bleep-container">

</div>

<div class="row">
    <div class="col-xs-6">
        <h1 class="page-header">Bleep list view</h1>
        {% for bleep in object_list %}
            {% include 'bleep/bleep.html' with bleep=bleep %}
        {% empty %}
        <div>No Bleeps yet.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
